:host {
display:flex;
  flex-direction: column;
}
#topAssemblyID {
  display:grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
}
#renderPanel {
  display:grid;
  grid-template-columns: 300px 300px;
  grid-template-rows:300px 150px;
}
#controlPanelID {
  display:flex;
  flex-direction: column;

}



