.es-tree-invisible {
  display: none;
}

.es-tree ul,
.es-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.es-tree-node {
  display: block;
}

.es-tree-node .es-tree-node {
  padding-left: 40px;
}
#controlPanelID {
  width: 5cm;
}
#instructionsID {
  font-size: large;
}
button {
  border-radius: 4px;
  margin:2px;
}
button:active {
  transform:translateY(4px);
}
button:hover {
  color:orange;
  background-color: blue;
}
