<div id="aboutID">


  <table>
    <thead>
    <td>Mouse Mode</td>
    <td>Description</td>
    </thead>
    <tr>
      <td>
        PAN
      </td>
      <td>Drag mouse over image to move the image.</td>
    </tr>
    <tr>
      <td>ZOOM</td>
      <td>Click and drag the mouse from 3/4 down the image up: to zoom out, down: to zoom in</td>
    </tr>
    <tr>
      <td>W/L</td>
      <td>Drag left: reduce contrast, right: increase contrast, up: reduce brightness, down:increase brightness</td>
    </tr>
    <tr>
      <td>SLICE</td>
      <td> Scroll wheel up to move to more superior slices, wheel down to more inferior slices.  Note that
        paging with the scroll wheel is also available for PAN, WL, RC, DRAW, and ERASE. </td>
    </tr>
    <tr>
      <td>COORD</td>
      <td> drag mouse about the image to see the coordinate.</td>
    </tr>
    <tr>
      <td>DRAW</td>
      <td>Drag the mouse over region to label about a small area; like a paint brush.</td>
    </tr>
    <tr>
      <td>ERASE</td>
      <td>Drag the mouse to erase areas much like drawing behaves.</td>
    </tr>
  </table>
  <h2>Plans</h2>

<ul>
  <li> Methods to export the label masks.</li>
  <li> Offer brush different brush sizes.</li>
  <li> Have brush shape conform to image gradient.</li>
  <li> Offer Sagittal and Coronal views</li>
</ul>
  <h2> Source of DICOM Data
  </h2>
  <ol>
    <li>Go to <a href="https://central.xnat.org/">central.xnat.org</a></li>
    <li>Pick [MR] tab</li>
    <li>Under 'Project:' field, click the field and a list of projects is presented.</li>
    <li>Select IGT_FMRI_NEURO</li>
    <li>Click the [Submit] button.</li>
    <li>Pick a session such as label [025 IGT_FMRI_NEURO) for 025</li>
    <li>Select all the series You will get the series as a zop file that contains DICOM part 10 files.
      Unpack the files and put them into a directory structure</li>
    <pre>
<code>
  exam
    series
      images
</code>
    </pre>
    For example:
    <pre>
    <code>
      25
      11-SPGR
      000001.IMA
      000002.IMA
      ...
      12-DTI
      000001.IMA
      000002.IMA
      ...
      12-T2
      000001.IMA
      000002.IMA
      ...
    </code>
    </pre>
  </ol>
  <h2>Contact</h2>
  <code>admin&commat;webviz.xyz</code>
</div>
